body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
}
nav {
    border-bottom: solid 1px #eee;
    display: flex;
    padding: 0.5em;
}

nav > button {
    padding: 0.5em 1em;
    border: none;
    filter: drop-shadow(-4px 5px 13px #b0b0b0);
}
nav > button:hover {
cursor: pointer;
background-color: pink;
}

.iframe {
    width: 100vw;
    background-color: red;
    border: none;
    /* padding: 1em; */
}

#website-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}